@model SXEdu2XHKD.WebUI.Models.CourseModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="新华课典山西">
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/css/myPublic.css" rel="stylesheet" type="text/css" />
    @*<script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>*@
    <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <title>Learn</title>
</head>
<body>
    <div class="container">

        <div>
            @Html.DisplayNameFor(model => model.LecURL)
        </div>
        <div>
            @Html.DisplayFor(model => model.LecURL)
        </div>

        <div>
            @Html.DisplayNameFor(model => model.SwfURL)
        </div>
        <div>
            @Html.DisplayFor(model => model.SwfURL)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.CourseCode)
        </div>
        <div>
            @Html.DisplayFor(model => model.CourseCode)
        </div>
        <div>
            @for (int i = 0; i<Model.SwfIds.Count;i++ )
            {
                <a href="@Url.Action("Learn", "Course", new { CourseCode = Model.CourseCode, SwfId = Model.SwfIds[i] })">@(i+1)</a>
            }
        </div>
    </div>
</body>
</html>
