@model SXEdu2XHKD.WebUI.Models.MemberInfoModel

<div class="row">
    <h1 class="col-sm-offset-1">用户信息</h1>
    <div class="list-group col-sm-offset-2 col-sm-8">
        <div class="list-group-item row">
            <span class="col-sm-3">
                <strong>@Html.DisplayNameFor(model => model.SxEduUserName)</strong>
            </span>
            <span class="col-sm-6">
                @Html.DisplayFor(model => model.SxEduUserName)
            </span>
        </div>

        <div class="list-group-item row">
            <span class="col-sm-3">
                <strong>@Html.DisplayNameFor(model => model.UserName)</strong>
            </span>
            <span class="col-sm-6">
                @Html.DisplayFor(model => model.UserName)
            </span>
        </div>

        <div class="list-group-item row">
            <span class="col-sm-3">
                <strong>@Html.DisplayNameFor(model => model.Name)</strong>
            </span>
            <span class="col-sm-6">
                @Html.DisplayFor(model => model.Name)
            </span>
        </div>

        <div class="list-group-item row">
            <span class="col-sm-3">
                <strong>@Html.DisplayNameFor(model => model.School)</strong>
            </span>
            <span class="col-sm-6">
                @Html.DisplayFor(model => model.School)
            </span>
        </div>

        <div class="list-group-item row">
            <span class="col-sm-3">
                <strong>@Html.DisplayNameFor(model => model.Grade)</strong>
            </span>
            <span class="col-sm-6">
                @Html.DisplayFor(model => model.Grade)
            </span>
        </div>

        <div class="list-group-item row">
            <span class="col-sm-3">
                <strong>@Html.DisplayNameFor(model => model.ClassName)</strong>
            </span>
            <span class="col-sm-6">
                @Html.DisplayFor(model => model.ClassName)
            </span>
        </div>

        <div class="list-group-item row">
            <span class="col-sm-3">
                <strong>@Html.DisplayNameFor(model => model.Email)</strong>
            </span>
            <span class="col-sm-6">
                @Html.DisplayFor(model => model.Email)
            </span>
        </div>

        <div class="list-group-item row">
            <span class="col-sm-3">
                <strong>@Html.DisplayNameFor(model => model.RegisterTime)</strong>
            </span>
            <span class="col-sm-6">
                @Html.DisplayFor(model => model.RegisterTime)
            </span>
        </div>

        <div class="list-group-item row">
            <span class="col-sm-3">
                <strong>@Html.DisplayNameFor(model => model.QQ)</strong>
            </span>
            <span class="col-sm-6">
                @Html.DisplayFor(model => model.QQ)
            </span>
        </div>
    </div>
</div>