@model SXEdu2XHKD.WebUI.Models.ReSetPassWordModel

@{
    ViewBag.Title = "ReSetPassWord";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
    ViewBag.SpecificValidateJs = "/Scripts/ValidationMethods/ValidateResetPassWord.js";
}

<div class="container">
    <div class="row">
        <div class="col-xs-offset-2 col-xs-8 col-md-offset-3 col-md-7">
            <h2>密码修改</h2>
            <p>
                <span class="h4" style="color:OrangeRed"><strong>@Model.Name</strong></span>, 您好。您申请了修改密码。<br />
                请重新设置您的密码<br />
                您仍然可以再次申请修改密码，但为了您的方便使用。请您务必<strong>牢记</strong>您的<strong>密码</strong>
            </p>
            <hr />
            <form action="/Member/ResetPassWord" method="post" id="ResetPassWordForm">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)


                <strong>@Html.ValidationMessage("NameNotExsist")</strong>
                @Html.ValidationSummary(true)

                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.LabelFor(model => model.PassWord, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="password" id="PassWord" name="PassWord" placeholder="请输入密码" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="ConfirmPassword">密码确认</label>
                        <div class="col-md-10">
                            <input type="password" id="ConfirmPassword" name="ConfirmPassword" placeholder="请再次输入密码" />
                        </div>
                    </div>

                    @Html.HiddenFor(model => model.UserName)
                    @Html.HiddenFor(model => model.Name)

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="确认" class="btn btn-default " />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>